# Ignore everything
*

# Unignore essential files
!.gitattributes
!README.md
!requirements.txt

# Unignore specific files
!lyra.png

# Unignore directories
!src/
!tests/
!data/processed/
!notebooks/

# Ignore specific files and directories
venv/
logs/
models/
*.log

# Ignore compiled files and temporary files
*.pyc
__pycache__/
*.tmp
.DS_Store
